/* RESET RULES*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
    width: 100%;
}

/* FONTS */

header {
    font-family: "Nerko One", cursive;
}

main {
    font-family: "Montserrat", sans-serif;
}

/* LAYOUT */

.container {
    margin: 0 auto;
    padding: 0 200px;
}

.header-container {

    background-color: #ffffff;
}


.col-12 {
    width: 100%;
}

body {
    background-color: #f6f5f3;
}

/* NAVBAR */

.navbar {
    font-size: 45px;
    color: #ff9614;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #c1ad96;
    padding-left: 30px;
}

/* HERO CARD */

.hero-title{
    padding-top: 50px;
}

.hero-title p {
    text-transform: uppercase;
    color: #b7bdc5;
    padding-bottom: 10px;
}

.hero-title h1 {
    font-size: 35px;
    font-weight: bolder;
    color: #4e3969;
}

.mobile-title {
    display: none;
}

/* MEDIA QUERY */

@media (max-width: 991.99px) {

    .header-container {
        max-width: 992px;
    }

    .container {
        margin: 0 auto;
        padding: 0 60px;
    }

}

@media (max-width: 767.99px) {

    .header-container {
        max-width: 768px;
        text-align: center;
    }

    .desktop-title {
        display: none;
    }

    .mobile-title {
        display: contents;
    }
    
}