/* RESET RULES*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
    width: 100%;
}

/* FONTS */

header {
    font-family: "Nerko One", cursive;
}

main {
    font-family: "Montserrat", sans-serif;
}

/* LAYOUT */

.header-container {

    background-color: #ffffff;
}


body {
    background-color: #f6f5f3;
}

/* NAVBAR */

.navbar {
    font-size: 60px;
    color: #ff9614;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #c1ad96;
    padding-left: 30px;
}